@model ATM_Banking_System.Models.UserChangePIN
@{
}

<form action="" method="POST">
    <table border="3">
        <tr>
            <th colspan="2">CHANGE PIN</th>
        </tr>
        <tr>
            <td>New PIN:</td>
            <td><input type="password" asp-for="PIN"/></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="Change PIN" /></td>
        </tr>
    </table>
</form>