@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>FAST CASH</h1>
<form action="/Users/FastCash" method="post">
    <table border="3">
        <tr>
            <th>Choose which type of denomination<br/> you want to withdraw</th>
        </tr>
        <tr>
            <td><input type="radio" name="denomination" value="100"/>100Rs</td>
            <td><input type="radio" name="denomination" value="200"/>200Rs</td>
        </tr>
        <tr>
            <td><input type="radio" name="denomination" value="500"/>500Rs</td>
            <td><input type="radio" name="denomination" value="2000"/>2000Rs</td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="withdraw" /></td>
        </tr>
    </table>
</form>