@model ATM_Banking_System.Models.UserDeposit
@{
}

<form action="" method="POST">
    <table border="3">
        <tr>
            <th colspan="2">WITHDRAW MONEY</th>
        </tr>
        <tr>
            <td>Amount:</td>
            <td><input type="number" asp-for="Amount"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Withdraw" /></td>
        </tr>
    </table>
</form>