<!--
    <form action="/Admins/ChangeProfile" method="POST">
    <table border="3">
        <tr>
            <th colspan="2" align="center">CHANGE PROFILE</th>
        </tr>
        <tr>
            <td>New Username:</td>
            <td><input type="text" required asp-for="Username"/></td>
        </tr>
        <tr>
            <td>New Password</td>
            <td><input type="password" required asp-for="Password"/></td>
        </tr>
        <tr>
            <td><input type="submit" value=" change profile " /></td>
        </tr>
    </table>
</form>
-->
@model ATM_Banking_System.Models.AdminChangeProfile
@{
}

<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .login-form {
            width: 340px;
            margin: 50px auto;
            font-size: 15px;
        }

            .login-form form {
                margin-bottom: 15px;
                background: #f7f7f7;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 30px;
            }

            .login-form h2 {
                margin: 0 0 15px;
            }

        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }

        .btn {
            font-size: 15px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="login-form">
        <form action="/Admins/ChangeProfile" method="POST">
            <h2 class="text-center">Change Profile</h2>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="New Username" required asp-for="Username" />
            </div>
            <div class="form-group">

                <input type="password" class="form-control" placeholder="New Password" required asp-for="Password" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Change Profile</button>
            </div>
            
        </form>
        <p class="text-center"><a href="/Admins/AdminDashboard">Go Back to Dashboard</a></p>
    </div>
</body>
</html>

