@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="" method="POST">
    <table border="3">
        <tr>
            <th colspan="2" align="center">CHANGE PROFILE</th>
        </tr>
        <tr>
            <td>New Username:</td>
            <td><input type="text" required /></td>
        </tr>
        <tr>
            <td>New Password</td>
            <td><input type="text" required /></td>
        </tr>
        <tr>
            <td><input type="submit" value=" change profile " /></td>
        </tr>
    </table>
</form>