@model ATM_Banking_System.Models.AdminChangeProfile
@{
}

<form action="/Admins/ChangeProfile" method="POST">
    <table border="3">
        <tr>
            <th colspan="2" align="center">CHANGE PROFILE</th>
        </tr>
        <tr>
            <td>New Username:</td>
            <td><input type="text" required asp-for="Username"/></td>
        </tr>
        <tr>
            <td>New Password</td>
            <td><input type="password" required asp-for="Password"/></td>
        </tr>
        <tr>
            <td><input type="submit" value=" change profile " /></td>
        </tr>
    </table>
</form>