@model ATM_Banking_System.Models.AdminDeposit
@{
}

<form action="/Admins/DepositMoney" method="POST">
    <table border="3">
        <tr>
            <th colspan="2" align="center">DEPOSIT MONEY</th>
        </tr>
        <tr>
            <td>Amount:</td>
            <td><input type="number" asp-for="Amount"/></td>
        </tr>
        <tr>
            <td><input type="submit" value=" deposit " /></td>
        </tr>
    </table>
</form>