<!--
<form action="/Admins/WithdrawMoney" method="POST">
    <table border="3">
        <tr>
            <th colspan="2" align="center">WITHDRAW MONEY</th>
        </tr>
        <tr>
            <td>Amount:</td>
            <td><input type="number" asp-for="Amount"/></td>
        </tr>
        <tr>
            <td><input type="submit" value=" withdraw " /></td>
        </tr>
    </table>
</form>
-->
@model ATM_Banking_System.Models.AdminDeposit
@{
}

<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .login-form {
            width: 445px;
            margin: 50px auto;
            font-size: 15px;
        }

            .login-form form {
                margin-bottom: 15px;
                background: #f7f7f7;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 30px;
            }

            .login-form h2 {
                margin: 0 0 15px;
            }

        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }

        .btn {
            font-size: 15px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="login-form">
        <form action="/Admins/WithdrawMoney" method="POST">
            <h2 class="text-center">Remove Money from ATM</h2>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Enter Money in Rs" required asp-for="Amount" />
            </div>
            <div class="form-group">
                <button type="submit" value="withdraw" class="btn btn-primary btn-block">Remove Money</button>
            </div>

        </form>
        <p class="text-center"><a href="/Admins/AdminDashboard">Go Back to Dashboard</a></p>

    </div>
</body>
</html>
