@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    <center><a href="Home/loginUser">Login As User</a></center>
    <br />
    <center><a href="Home/AddAdmin">Login As Admin</a></center>
    <br />
    <center><a href="Home/registerUser">Register as User</a></center>
</div>
