@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
      
</div>
<style>
    .mycard{
        opacity:0.5;
        transition: transform 0.3s;
    }
    .mycard:hover{
        opacity:1;
        transform: scale(1.1);
    }
</style>

<div class="row row-cols-1 row-cols-md-3" style="margin-top:100px; justify-content:space-evenly;">
    
    <div class="col mb-4 mycard" style=" height: 260px; width: 260px;">
        <!-- Card -->
        <div class="card">
            <a href="Home/loginUser">
                <!--Card image-->
            
                <div class="view overlay">
                    <img class="card-img-top" src="~/Assets/Images/Login_User.png"
                         alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title" style="text-align:center">Login as User </h4>
                </div>
            </a>

        </div>
        <!-- Card -->
    </div>
    <div class="col mb-4 mycard" style=" height: 260px; width: 260px;">
        <!-- Card -->
        <div class="card">
            <a href="Home/loginAdmin">
                <!--Card image-->

                <div class="view overlay">
                    <img class="card-img-top" src="~/Assets/Images/Admin.png"
                         alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title" style="text-align:center">Login as Admin</h4>
                </div>
            </a>

        </div>
        <!-- Card -->
    </div>
    <div class="col mb-4 mycard" style=" height: 260px; width: 260px;">
        <!-- Card -->
        <div class="card">
            <a href="Home/registerUser">
                <!--Card image-->

                <div class="view overlay">
                    <img class="card-img-top" src="~/Assets/Images/Register_User.png"
                         alt="Card image cap">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <h4 class="card-title" style="text-align:center">Register New User</h4>
                </div>
            </a>

        </div>
        <!-- Card -->
    </div>
</div>

