@model ATM_Banking_System.Models.loginUser
@{
}

<form action="/Home/loginUser" method="POST">
    <table border='3'>
        <tr>
            <th colspan="2" align="center">Login Form</th>
        </tr>
        <tr>
            <td>Account Number:</td>
            <td><input type="number" required asp-for="AccNo"/></td>
        </tr>
        <tr>
            <td>PIN:</td>
            <td><input type="password" required asp-for="PIN"/></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" /></td>
        </tr>
    </table>
</form>