<!--<form action="/Home/registerUser" method="POST">
    <table border="3">
        <tr>
            <th colspan="2" align="center">REGISTERATION FORM</th>
        </tr>
        <tr>
            <td>Account No</td>
            <td><input type="number" required asp-for="AccNo"/></td>
        </tr>
        <tr>
            <td>PIN</td>
            <td><input type="number" required asp-for="PIN"/></td>
        </tr>
        <tr>
            <td>Full Name</td>
            <td><input type="text" required asp-for="FullName"/></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td><input type="text" required asp-for="Gender"/></td>
        </tr>
        <tr>
            <td>D.O.B</td>
            <td><input type="date" required asp-for="DOB"/></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" required asp-for="Address"/></td>
        </tr>
        <tr>
            <td>Phone No</td>
            <td><input type="text" required asp-for="PhoneNo"/></td>
        </tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value=" Register "/></td>
        </tr>
    </table>
</form>
-->
@model ATM_Banking_System.Models.AddUser
@{
}

<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .login-form {
            width: 340px;
            margin: 50px auto;
            font-size: 15px;
        }

            .login-form form {
                margin-bottom: 15px;
                background: #f7f7f7;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
                padding: 30px;
            }

            .login-form h2 {
                margin: 0 0 15px;
            }

        .form-control, .btn {
            min-height: 38px;
            border-radius: 2px;
        }

        .btn {
            font-size: 15px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="login-form">
        <form action="/Home/registerUser" method="POST">
            <h2 class="text-center">Register New User</h2>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Account Number" required asp-for="AccNo" />
                <span asp-validation-for="AccNo" class="text-danger">AccNo is Required</span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="PIN" required asp-for="PIN" />
            </div>
            <div class="form-group">

                <input type="text" class="form-control" placeholder="Full Name" required asp-for="FullName" />
            </div>
            <div class="form-group">

                <input type="radio" asp-for="Gender" value="M">Male<br/>
                <input type="radio" asp-for="Gender" value="F">Female<br/>
                <input type="radio" asp-for="Gender" value="O">Other<br/>

            </div>
            <div class="form-group">

                <input type="date" class="form-control" placeholder="Date of Birth" required asp-for="DOB" />


            </div>
            <div class="form-group">

                <input type="text" class="form-control" placeholder="Address" required asp-for="Address" />

            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="PhoneNo" required asp-for="PhoneNo" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div>

        </form>
        <p class="text-center"><a href="/Home/loginUser">Log in</a></p>
    </div>
</body>
</html>
